<div class="layout-nav">
	<div class="nav-header">
		<span class="cur item" ng-click="changeall()">全部</span>
		<span class="item" ng-repeat="obj in catearr" ng-click="changecatetab(obj.shortName,obj.cate1Name)" data-type="{{obj.shortName}}">{{obj.cate1Name}}</span>
	</div>
	<div class="nav-content">
		<a href="#/roomList" ng-repeat="all in catedetailarr" ng-click="getroomList2(all.shortName)">
			<div class="nav-item">
				<img lazy-src="{{all.icon}}"/><br />{{all.cate2Name}}
			</div>
		</a>
	</div>
</div>
<div class="layout-banner">
<div class="swiper-container" id="slider">
				<div class="swiper-wrapper" id="swiper-wrapper">
					<div class="swiper-slide" ng-repeat="obj in slideArr" style="width: 375px;" ng-click="getroomList2(obj.id)">
						<a href="#/room"ng-click="changeslider(obj.room.cate2_id,obj.room.room_id)">
							<img ng-src="{{obj.pic_url}}" alt="" />
						</a>
						
					</div>
				</div>
				<div class="swiper-pagination"></div>
	</div></div>
<div class="layout-rooms hot">
	<div class="title">
		<span class="text">最热</span>
		<span class="change" ng-click="changehot()">换一换</span>
	</div>
	<div class="content">
		
		<div class="c-room-item" ng-repeat="hotitem in hotListArr">
			<a href="#/room" ng-click="changehotlive(hotitem.cate2_id,hotitem.room_id)">
			<div class="room-show">
				<img lazy-src="{{hotitem['room_src']}}"/>
				<div class="up-shadow"></div>
				<span class="room-online">{{hotitem.online}}</span>
				<div class="bottom-shadow"></div>
				<span class="room-nickname">{{hotitem.nickname}}</span>
			</div>
			<div class="room-desc">{{hotitem.room_name}}</div></a>
		</div>
	</div>
</div>
<div class="layout-rooms live">
	<div class="title">
		<span class="text">正在直播</span>
		<span class="live-online" >当前<span>{{livecount}}</span>个直播</span>
	</div>
	<div class="content">
		
		<div class="c-room-item" ng-repeat="hotitem in liveListArr">
			<a href="#/room" ng-click="changelive(hotitem.cate2_id,hotitem.room_id)">
			<div class="room-show">
				<img lazy-src="{{hotitem['room_src']}}"/>
				<div class="up-shadow"></div>
				<span class="room-online">{{hotitem.online}}</span>
				<div class="bottom-shadow"></div>
				<span class="room-nickname">{{hotitem.nickname}}</span>
			</div>
			<div class="room-desc">{{hotitem.room_name}}</div></a>
		</div>
	</div>
</div>
<div class="layout-rooms yz">
	<div class="title">
		<span class="text">颜值</span>
		<span class="more">更多</span>
	</div>
	<div class="content">
		
		<div class="home-yz-list-item" ng-repeat="hotitem in yzListArr">
			<a href="#/room" ng-click="changeyz(hotitem.cate2_id,hotitem.room_id)">
			<div class="show">
				<img lazy-src="{{hotitem['vertical_src']}}"/>
				<span class="online"><i class="icon icon-eye"></i>{{hotitem.online}}</span>				
			</div>
			<div class="info">
				<div class="text-info">
					<p class="nickname"><i class="icon icon-user"></i>{{hotitem.nickname}}</p>
				</div>
				<div class="location-info"><span>{{hotitem.anchorCity}}</span></div>
			</div>
				</a>
		</div>
	</div>
</div>
<div class="layout-rooms mix" ng-repeat="mix in mixListArr">
	<div class="title">
		<span class="text">
			<img lazy-src="{{mix.icon}}" class="icon-mix"/>
			<span>{{mix.tabName}}</span>
			<d></d>
		</span>
		<span class="center-content" >
			<span ng-repeat="center in mix.cate2Info">{{center.cate2Name}}</span>
			
		</span>
		<span class="more">更多</span>
	</div>
	<div class="content">
		
		<div class="c-room-item" ng-repeat="hotitem in mix.data">
			<a href="#/room" ng-click="changemix(hotitem.cate2_id,hotitem.room_id)">
			<div class="room-show">
				<img lazy-src="{{hotitem['room_src']}}"/>
				<div class="up-shadow"></div>
				<span class="room-online">{{hotitem.online}}</span>
				<div class="bottom-shadow"></div>
				<span class="room-nickname">{{hotitem.nickname}}</span>
			</div>
			<div class="room-desc">{{hotitem.room_name}}</div></a>
		</div>
	</div>
</div>
<div class="footer">
	<div class="gotop">
		<span><d class='icon-gotop'></d>返回顶部</span>
	</div>
	<a target="parent" href="https://www.douyu.com/client?platform=0"><div class="download">下载客户端</div></a>
	<p>客服热线：027-65026248<br>武汉斗鱼网络科技有限公司<br>湖北省武汉市东湖开发区光谷软件园F4栋8楼<br>版权所有 © www.douyu.com 鄂ICP备15011961号-1</p>
</div>